<%include partials/header%>
<div class="ui main text container segment">
  <ui class="huge header">Add New Book</ui>
  <form class="ui form" action="/books" method="POST">
    <div class="field">
      <label>Name</label>

      <input type="text" name="name" placeholder="name">
    </div>
    <div class="field">
      <label>Image</label>

      <input type="text" name="image" placeholder="image url">

    </div>
    <div class="field">
      <label>Description</label>

      <textarea name="book[description]" id="" cols="10" rows="6" placeholder="description...."></textarea>

    </div>
    <button>Submit!</button>
  </form>
</div>

<div class="container">
  <div class="row" style="display:flex; flex-wrap:wrap;">
    <%books.forEach(function(book){%>
    <div class="col-md-4 col-lg-3 col-sm-6 text-center ">
      <div class="img-thumbnail">
        <img src="<%=book.image%>" style="width: 200px;">
        <div class="caption">
          <h4><%= book.name%> </h4>
        </div>
        <p><a class="btn btn-primary" href="/books/<%=book._id%>">More Info</a></p>
        <p><a class="btn btn-primary" href="/books/<%=book._id%>/edit">edit</a></p>
        <form action="/books" method="POST">
          <a href="/books/<%=book._id%>/delete" onclick="return confirm('are you sure you want to delete? ')">delete</a>
        </form>
      </div>
    </div>
    <%})%>
  </div>


</div>

<p><a href="/register">Sign up</a></p>
<p><a href="/login">login</a></p>
<p><a href="/logout">logout</a></p>


<%include partials/footer%>